.container {
  padding: 30px;
  display: block;
}

.star-font
 {
  font-size: 50px;
}

.driver-card {
  background-color: #425cbb;
  border-radius: 10px; 
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;

}

.driver-img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 100px;
}

.car-details {
  margin: 5px;
}

.like-button {
  display: flex;
  margin: 20px;
  padding: 10px;
  font-size: 20px;
  justify-content: space-evenly;
}

.click-pic {
  padding: 20px;
  height: 250px;
}

.dice-img {
  padding: 20px;
  width: 200px;
}

.numbers-table {
  display: flex;
}

.even {
  background-color: red;
  padding: 50px;
}

.odd {
  padding: 50px;
}

.facebook {
  display: flex;
  border: 1px solid #000;
  padding: 5px;
  margin-right: 5px;
}

.facebook-img {
  width: 200px;
}